<!-- Feature added by 144mdgross -->
<section class="feature {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content {{ .custom }}">
        <div class="circle">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .description }}<p class="{{ .style }}">{{ .text | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked {{ .style }}">
            <li><a rel="noreferrer" href="{{ .link }}" class="button primary smooth-scroll-middle {{ .style }}">{{ .label }}</a></li>
        </ul>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .tinylink }}<a rel="noreferrer" href="{{ .link }}" class="smooth-scroll-middle {{ .style }}"><p>{{ .label }}</p></a>{{ end }}
        </div>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="" />
    </div>{{ end }}
</section>
<div class="credit content-align-center">
    <span>{{ .credit }}</span>
</div>