<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p class="text">{{ . | safeHTML }}</p>{{ end }}
            {{ with .scrollMarkers }}
    <div class="scrollMarkers">
        <div class="scrollMarkerTop">&#9650;</div>
        <div class="scrollMarkerBottom">&#9660;</div>
    </div>
    {{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li>
                <a rel="noreferrer noopener" href="{{ .link }}" class="button primary smooth-scroll-middle">{{ .label }}</a>
            </li>
        </ul>{{ end }}
        {{ with .externalLink }}<span>{{ .label }} </span>
            <a rel="noreferrer noopener" target="_blank" href="{{ .link }}" class="smooth-scroll-middle {{ .style }}">{{.labelLink}}</a>
        {{ end }}
    </div>
    {{ with .image }}
    <div class="image">
        <img src="{{ . }}" alt="" />
    </div>
    {{ end }}
</section>
<div class="credit {{ .creditClass }}">
    <span>{{ .credit }}</span>
    {{ with .creditlink }}<a rel="noreferrer noopener" href="{{ .link }}" target="_blank" class="{{ .style }}">{{ .label | safeHTML }}</a>{{ end }}
</div>
