<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a rel="noreferrer" href="{{ .link }}" class="button primary smooth-scroll-middle">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="" />
    </div>{{ end }}
</section>
<div class="credit {{ .creditClass }}">
    <span>{{ .credit }}</span>
    {{ with .creditlink }}<a rel="noreferrer noopener" href="{{ .link }}" target="_blank" class="{{ .style }}">{{ .label | safeHTML }}</a>{{ end }}
</div>
